<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gys.classmanager.dao.CalendarDao">

	<insert id="inputCalendar">
		INSERT
		INTO
		CALENDAR (SELECTDATE, TIME, CONTENT,
		GRADE, CLASSNUM, DAY)
		VALUES
		(#{0}, #{1}, #{2},
		#{3}, #{4}, #{5})
	</insert>
	<select id="listCalendar" resultType="com.gys.classmanager.dto.CalendarDto">
		SELECT *
		FROM
		CALENDAR WHERE grade=#{0} AND classNum = #{1} ORDER BY DAY ASC;
	</select>

</mapper>