<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<mappers>
		<mapper resource="/mybatis/MemberMapper.xml" />
		<mapper resource="/mybatis/MokTestMapper.xml" />
		<mapper resource="/mybatis/SchoolTestMapper.xml" />
		<mapper resource="/mybatis/BoardMapper.xml" />
		<mapper resource="/mybatis/CommentMapper.xml" />
		<mapper resource="/mybatis/ConsultMapper.xml" />
		<mapper resource="/mybatis/GalleryMapper.xml" />
	</mappers>
</configuration>