<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "com.gys.classmanager.dao.SchoolTestDao" >
	
	<select id="schooltest_list_Dao" resultType="com.gys.classmanager.dto.SchoolTestDto">
		SELECT * FROM SCHOOL_TEST WHERE STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2} ORDER BY SEMESTER ASC
	</select>
	
	<insert id="schooltest_input_Dao">
		INSERT INTO SCHOOL_TEST (GRADE, SEMESTER, SUBJECT, SCHOOLRATE, STUDENTNUM, STDTGRADE, STDTCLASSNUM) VALUES (#{0}, #{1}, #{2}, #{3}, #{4}, #{5}, #{6})
	</insert>
	
	<select id="schooltest_chart" resultType="hashmap">
		SELECT IFNULL( AVG(SCHOOLRATE),0) AS AVG FROM SCHOOL_TEST WHERE GRADE = '1학년' AND SEMESTER = '1학기' AND STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2}
		UNION ALL
		SELECT IFNULL( AVG(SCHOOLRATE),0) AS AVG FROM SCHOOL_TEST WHERE GRADE = '1학년' AND SEMESTER = '2학기' AND STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2}
		UNION ALL
		SELECT IFNULL( AVG(SCHOOLRATE),0) AS AVG FROM SCHOOL_TEST WHERE GRADE = '2학년' AND SEMESTER = '1학기' AND STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2}
		UNION ALL
		SELECT IFNULL( AVG(SCHOOLRATE),0) AS AVG FROM SCHOOL_TEST WHERE GRADE = '2학년' AND SEMESTER = '2학기' AND STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2}
		UNION ALL
		SELECT IFNULL( AVG(SCHOOLRATE),0) AS AVG FROM SCHOOL_TEST WHERE GRADE = '3학년' AND SEMESTER = '1학기' AND STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2}
		UNION ALL
		SELECT IFNULL( AVG(SCHOOLRATE),0) AS AVG FROM SCHOOL_TEST WHERE GRADE = '3학년' AND SEMESTER = '2학기' AND STUDENTNUM = #{0} AND STDTGRADE = #{1} AND STDTCLASSNUM = #{2}
	</select>
</mapper>