<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "com.gys.classmanager.dao.UnivScoreDao" >
	
	<select id="univName_list_Dao" resultType="com.gys.classmanager.dto.UnivScoreDto">
		SELECT * FROM univ_score where name = #{0}
	</select>
	
	<select id="univMajor_score_Dao" resultType="com.gys.classmanager.dto.UnivScoreDto">
		SELECT * FROM univ_score where name = #{0} and major = #{1}
	</select>
	
	<select id="univScore_chart1" resultType="com.gys.classmanager.dto.UnivScoreDto">
		SELECT * FROM univ_score where name = #{0} and major = #{1}
	</select>
	
	<select id="univScore_chart2" resultType="com.gys.classmanager.dto.UnivScoreDto">
		SELECT * FROM univ_score where name = #{0} and major = #{1} and id = #{2}
	</select>
	
	<select id="univId_list_Dao" resultType="com.gys.classmanager.dto.UnivScoreDto">
		SELECT * FROM univ_score where id = #{0}
	</select>
	
</mapper>