<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gys.classmanager.dao.VoteDao">

	<insert id="createVote1">
		INSERT
		INTO
		vote (id, topic, choice1, scoreCh1)
		VALUES
		(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	
	<insert id="createVote2">
		INSERT
		INTO
		vote (id, topic, choice1, choice2, scoreCh1, scoreCh2)
		VALUES
		(#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6})
	</insert>
	
	<insert id="createVote3">
		INSERT
		INTO
		vote (id, topic, choice1, choice2, choice3, scoreCh1, scoreCh2, scoreCh3)
		VALUES
		(#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8})
	</insert>
	
	<insert id="createVote4">
		INSERT
		INTO
		vote (id, topic, choice1, choice2, choice3, choice4, scoreCh1, scoreCh2, scoreCh3, scoreCh4)
		VALUES
		(#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9}, #{param10})
	</insert>
	
	<insert id="createVote5">
		INSERT
		INTO
		vote (id, topic, choice1, choice2, choice3, choice4, choice5, scoreCh1, scoreCh2, scoreCh3, scoreCh4, scoreCh5)
		VALUES
		(#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9}, #{param10}, #{param11}, #{param12})
	</insert>


	<select id="lastListVote" resultType="com.gys.classmanager.dto.VoteDto">
		SELECT
		*
		FROM
		vote
		ORDER BY idx
		DESC limit 1;
	</select>

</mapper>


<!--  
 * http://www.apache.org/licenses/LICENSE-2.0 
 * Licensed under the Apache License, Version 2.0 
 -->